*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    margin:3% 5% 2% 5%;
    color:rgb(130,133,142);
    font-family: 'Roboto', sans-serif;
}
header{
    display:flex;
    justify-content: space-between;
    width:100%;
    align-items: center;
}
#ham{
    display:none;
}
h4{
    color:black;
    font-weight:700;
}
.top-mid{
    display:flex;
    width:60%;
    justify-content: space-between;
    margin-left:13%;
    align-items: center;
}
.top-mid nav{
    display:flex;
}
.top-mid nav ul{
    list-style-type: none;
    display:flex;
}
a{
    text-decoration: none;
    margin-right:15px;
    color:rgb(130,133,142);
}
.example{
    display: flex;
    background:rgb(243,245,247);
    border:none;
    padding:12px 100px 12px 17px;
    border-radius: 4px;
}
.example img{
    margin-right:7px;
    width:17%;
}
.newpost button{
    color:white;
    background: black;
    padding:12px 28px;
    border-radius: 4px;
}
.mobile-cross{
    display:none;
}
.mostcontent{
    display:flex;
    margin-top:3%;
}
.leftside{
    width:12%;
    border: 2px red solid;
}
.left-top figure,.left-down-items{
    display: flex;
    margin:0 8px 17px 8px;
    align-items:center;   
}
.left-top img{
    margin-right:7px;
}
.left-top{
    border-bottom:1.7px rgb(179, 175, 175) solid;
}
.left-down-items{
    justify-content: space-between;
    margin: 0 0 17px 8px;
}
.left-down{
    margin-top:17px;
    width:90%;
}
.left-down img{
    width:87%;
}
.mid{
    border:3px black solid;
    margin:0 0 0 30px;
    width:67%;
}
.container{
    display:flex;
    padding: 2% 2% 3% 2%;
    border-style:solid; 
    justify-content: space-between;   
}
.container-left{
    width:54%;
    border-style: solid;
}
h3{
    color:black;
    width:80%;
    margin-bottom: 10px;
}
.profile{
    display: flex;
    align-items: center;
    color:black;
    font-weight: 700;
    font-size: 12.5px;
    margin-top:10px;
}
.profile img{
    width:7.5%;
    margin-right:7px;
}
span{
    color:rgb(130,133,142);
}
.container-left p{
    font-size: 14px;
    width:95%;
}